.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112D4E; 
    padding: 10px 20px;
    color: #DBE2Ef;
}

.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 800px;
    margin: 0 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-container select {
    padding: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #607d8b; 
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button img {
    width: 25px;
    height: 25px;
}

.account-cart-container {
    display: flex;
    align-items: center;
}

.account {
    margin-right: 20px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.secondary-navbar {
    background-color: white;
    padding: 10px 20px;
}

.secondary-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.secondary-navbar ul li {
    padding: 0 10px;
}

.secondary-navbar ul li a {
    text-decoration: none;
    color: #607d8b;
    font-weight: regular;
    font-family: 'Inter', sans-serif;
}
.H1{
    font-size: 75px;
    color: #112D4E;
}
.secondary-navbar ul li a:hover {
    color: #112D4E;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.about-us {
    text-align: center;
    padding: 50px 20px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: 30px;
}

.image-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #001f3f;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}


.content {
    max-width: 800px;
    margin: 0 auto;
}

.content h1 {
    color: #001f3f;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-media a {
    text-decoration: none;
    color: #001f3f;
    display: flex;
    align-items: center;
}

.social-media img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.reasons {
    margin-top: 50px;
}

.reasons-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.reason {
    text-align: center;
}

.reason img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #001f3f;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
}